div#credit
	h3 About
	p 
		\ Hello, my name is 
		a(href="http://johnpatrickgiven.com") JP
		\ and this is my first NodeJS application.
	p
		\ Why build a mobile HN when there already is one (or two, or three)? Well, I simply wanted to mess around with Node, 
		\ use the 
		a(href="http://expressjs.com") ExpressJS framework
		\, and deploy my tiny little app to my Dreamhost VPS.

	h3 Credit
	p I have to thank 
		a(href="http://hndroidapi.appspot.com/") hndroidapi
		\ for the awesome API. Without it this wouldn't have been nearly as simple.
	p
		\ Also thanks to
		a(href="http://viewtext.org") viewtext.org
		\ for the super nice plain text article representations.

	h3 To Do (Not Exhaustive)
	ul
		li I didn't use a mobile framework for this app. Just some simple jQuery animations and good old fashioned ajax.
			\ I'd like to change the transitions to CSS keyframe animations at some point.
		li Eventually I would like to move away from the window.location jQuery plugin I'm using to track hash changes and use
			\ PushState instead.
		li Add Pagination from the front page.

	h3 Fork This Project
	ul
		li I doubt anyone will care, but the source for this project is completely open over at 
			a(href="https://github.com/iamjpg/HN-Mobile") Github.