div#credit
	h3 About
	p 
		\ Hello, my name is JP and this is my first deployed NodeJS application.
	p
		\ Why would I recreate the wheel? Well, I wanted to mess around with a little NodeJS,
		\ use the ExpressJS framework, and more than anything, deploy my tiny little app on my Dreamhost VPS.
	p
		\ This was nothing more than a fun little programming exercise/learning experience. See, I love programming, and to learn things
		\ you have to create little projects :)

	h3 Thanks
	p Special thanks to 
		a(href="ihackernews.com") iHackerNews
		\ for the awesome API. Without it this wouldn't have been nearly as simple.

	h3 Fun Facts
	ul
		li I didnt' use a mobile framework for this app. Just some simple jQuery animations and good old fashioned ajax.
		li Because of this project Jade is now my most favorite templating language ever. Seriously. It rocks.
		li I considered and actually began using RailwayJS for this project. I like the RailwayJS framework more than Express,
			\ but figure for something so simple, using Express was a fine way to go.
		li
			\ I doubt anyone will care, but the source for this project is completely open over at
			a(href="https://github.com/iamjpg/HN-Mobile") Github.