!!! 5
html
	head
	title Unofficial MobileHN
	meta(name="apple-mobile-web-app-capable", content="yes")
	meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")
	meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
	link(rel='stylesheet', href='/stylesheets/normalize.css')
	link(rel='stylesheet', href='/stylesheets/lib.css')
	script(type="text/javascript", src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
	script(type="text/javascript", src="/javascripts/spin.min.js")
	script(type="text/javascript", src="/javascripts/application.js")
	script(type="text/javascript", src="/javascripts/jquery.location.listener.js")
	body
		div#content
			div#header
				div#logo
					div.title MobileHN
					div.pagetitle #{title}
			div#nav
				div#navContainer
					ul
						li
							button.minimal#btnFrontPage Front
						li.spacer &nbsp;
						li
							button.minimal#btnNewStories New
						li.spacer &nbsp;
						li
							button.minimal#btnAbout About
					div.clear
			div#contentContainer
				!= body
		div#footer
			p Created by 
				a(href="http://twitter.com/iamjpg")@iamjpg
				\ simply to play with NodeJS.
				br
				\ More info 
				a(href="/about") here
				\.
		div#loader
		
		script(type="text/javascript")
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-28400089-1']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();